#who is creating tables?
creator
alex shirey

#db to use
database
aero_sample246

#data in HDFS
carrier_data_dir
/data/carrier

airport_data_dir
/data/airport

flight_data_dir
/data/flight


#HQLs to execute

#init tables and load data
00_hql
./hql/query_00_init_tables_load_data.hql

#count total number of flights per carrier in 2007
01_hql
./hql/query_01_flights_per_carrier.hql

#The total number of flights served in Jun 2007 by NYC
#(all airports, use join with Airports)
02_hql
./hql/query_02_flights_by_nyc_june.hql

#Find five most busy airports in US during Jun 01 - Aug 31
03_hql
./hql/query_03_busy_airports_summer.hql

#Find the carrier who served the biggest number of flights
04_hql
./hql/query_04_carrier_with_biggest_flights.hql


